{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{{ asset('img/playstation.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Playstation 4 et 5</h5>
      <a href="#" class="btn btn-primary">Voir les packs Playstation</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ asset('img/xbox.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xbox One et Series</h5>
      <a href="#" class="btn btn-success">Voir les packs Xbox</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ asset('img/switch.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nintendo Switch</h5>
      <a href="#" class="btn btn-danger">Voir les packs Nintendo Switch</a>
    </div>
  </div>
</div>

{% endblock %}
