:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-blue: #4169e1;
    --color-red: #ff0000;
    --color-background: #333;
    --color-backgroundHover: #111;
}

/* **************************************** RESET **************************************** */

    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }

/* **************************************** GLOBAL **************************************** */

    :root {
        --color-white: #FFFFFF;
        --color-light-grey: #BBBBBB;
    }

    * {
        font-size: lighter;
    }
    a {
        color: var(--color-white);
        text-decoration : none;
    }
/* **************************************** NAV **************************************** */

.navigation body {
    margin:0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: var(--color-backgroundHover);
}

.active {
    background-color: var(--color-blue);
}

.navigation h1 {
    color: var(--color-blue);
}

/* **************************************** TABLE **************************************** */

    table img {
        width: 100px;
    }

/* **************************************** FOOTER **************************************** */

footer p {
    font-size: 0.75em;
}
