{% extends 'base.html.twig' %}

{% block title %}Hello XboxController!{% endblock %}

{% block body %}

<div class="card bg-dark text-white w-50 mx-auto">
    <img class="card-img" src="{{ asset('img/xbox.jpg') }}" alt="Card image">
</div>

{% endblock %}
